$text-color: #272d38;

html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  color: $text-color;
  font-weight: 400;
  background-color: #f4c27fab;
}

li {
  list-style-type: none;
}
