.text-field {
  width: 325px;
  height: 51px;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  outline: none;
  padding: 16px 30px;
}

.error-massage {
  display: block;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: red;
  margin-top: 10px;
}
